<section class="main-image container">
  <%= image_tag "top.jpg", class: "top_image" %>
  <p class="title">get the way YOU THINK</p>
  <% if logged_in? %>
    <%= link_to concerns_path do %>
      <p class="top_icon"><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>start</p>
    <% end %>
  <% else %>
    <%= link_to new_user_path do %>
      <p class="top_icon"><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>sign up</p>
    <% end %>
  <% end %>
</section>
<div class="top message1">
  <p>About get the way YOU THINK</p>
  <p>壁にぶち当たった時、友達に相談しても家族に相談しても気持ちが晴れず、誰かにこの壁を壊してもらいたいと思ったことはありませんか？</p>
</div>

<div class="top message2 color">
  <p>キーワードで検索することができます。</p>
  <p>一番解決したい言葉を入力してください。</p>
</div>

<div class="top message3">
  <p>他ユーザーから、問題を解決するためのヒントが、コメントとして投稿されます。</p>
</div>

<div class="top message4 color">
  <p>他のユーザーのお名前をクリックすると、直接メッセージを送り合うことができます。</p>
</div>

<div class="message5">
  <p>すべての人が自分らしく生きる未来へ</p>
  <p>get the way YOU THINKがお役に立てれば幸いです。</p>
</div>

<div class="footer fadein">
  <a>利用規約</a> / <a>プライバシーポリシー</a>
</div>

<div id="page_top"><a href="#"></a></div>
